<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <site name="sitesref" inherits="website" rootPath="/sitecore/content/sites/sitesref" patch:before="site[@name='website']" />
      <site name="hplushcorp" inherits="website" rootPath="/sitecore/content/sites/hplushcorp" patch:before="site[@name='website']" />
      <site name="hplushpl" inherits="website" rootPath="/sitecore/content/sites/hplushpl" language="pl-PL" patch:before="site[@name='website']" />
      <site name="hplushdk" inherits="website" rootPath="/sitecore/content/sites/hplushdk" language="da-DK" patch:before="site[@name='website']" />
      <site name="hplushnl" inherits="website" rootPath="/sitecore/content/sites/hplushnl" language="nl-NL" patch:before="site[@name='website']" />
    </sites>

    <sites role:require="Standalone or ContentManagement">
      <site name="website">
        <patch:attribute name="hostName">$(env:CM_HOST)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
      <site name="sitesref">
        <patch:attribute name="hostName">$(env:CM_HOST_SITESREF)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
      <site name="hplushcorp">
        <patch:attribute name="hostName">$(env:CM_HOST_HPLUSHCORP)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
      <site name="hplushpl">
        <patch:attribute name="hostName">$(env:CM_HOST_HPLUSHPL)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
      <site name="hplushdk">
        <patch:attribute name="hostName">$(env:CM_HOST_HPLUSHDK)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
      <site name="hplushnl">
        <patch:attribute name="hostName">$(env:CM_HOST_HPLUSHNL)</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>

    <javaScriptServices>
      <apps>
        <app name="sitesref" inherits="defaults" sitecorePath="/sitecore/content/sites/sitesref" serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_SITESREF_ENDPOINT_URI)?sc_site=sitesref"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_SITESREF_PUBLIC_URI)" />
        <app name="hplushcorp" inherits="defaults" sitecorePath="/sitecore/content/sites/hplushcorp" serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_HPLUSHCORP_ENDPOINT_URI)?sc_site=hplushcorp"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_HPLUSHCORP_PUBLIC_URI)" />
        <app name="hplushpl" inherits="defaults" sitecorePath="/sitecore/content/sites/hplushpl" serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_HPLUSHPL_ENDPOINT_URI)?sc_site=hplushpl"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_HPLUSHPL_PUBLIC_URI)" />
        <app name="hplushdk" inherits="defaults" sitecorePath="/sitecore/content/sites/hplushdk" serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_HPLUSHDK_ENDPOINT_URI)?sc_site=hplushdk"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_HPLUSHDK_PUBLIC_URI)" />
        <app name="hplushnl" inherits="defaults" sitecorePath="/sitecore/content/sites/hplushnl" serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_HPLUSHNL_ENDPOINT_URI)?sc_site=hplushnl"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_HPLUSHNL_PUBLIC_URI)" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
